body{
     margin: 0;
   }

  #index_page .image_wrapper {
    background-color: red;
    padding: 15px;
    display: table;
    }

#index_page .image_wrapper .img_box {
    width: 20%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    
